.list {
  width: 282px;
  background: #ebecf0;
  padding: 20px;
  border-radius: 8px;
  box-sizing: border-box;
  margin: 15px;
  min-height: 197px;
  overflow-x: hidden;
  max-height: calc(100vh - 250px);
}

.listTitle {
  margin-top: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.task {
  margin: 7px 0;
  padding: 8px;
  border-radius: 8px;
}

.task > a {
  text-decoration: none;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.addButton {
  background: none;
  border: none;
  appearance: none;
  font-size: 18px;
  color: #737373;
  margin-top: 15px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.addButton:hover {
  color: #000;
}

@media (max-width: 768px) {
  .list {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}
