.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.form-field {
  margin-bottom: 15px;
}

.error-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error {
  color: #ff0000;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.input,
.select-task {
  display: block;
  padding: 5px;
  border: 1px solid #465671;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
}

.select-task {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: white;
  padding: 8px 30px 8px 10px;
  cursor: pointer;
  background-image: url("../../img/Vector 1.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  width: 100%; /* добавим ширину для выравнивания */
}

.select-task::-ms-expand {
  display: none;
}

.select-task option {
  padding: 8px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.submit {
  width: 102px;
  height: 29px;
  background: #0079bf;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  padding: 0;
}

.submit:hover {
  background: #5d7194;
}

.input::placeholder {
  color: #999;
  opacity: 1;
}
